services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
     - ./backend:/app
    env_file:
     - .env
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    depends_on:
      - backend
    command: nodemon --watch . --exec "npm start"

  db:
    image: postgres:15
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: echtoplasm
      POSTGRES_PASSWORD: Dread666!
      POSTGRES_DB: calibra-postgres
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
